body{
    padding:20px;
    text-align:center;
    background-color: #e7e7e7;
}

nav{
    background-color: lightblue;
    text-align:center;
    padding:15px 5%;
    font-size:12px;
    letter-spacing:2px;
    text-transform:uppercase;
}

a:link {
    color: #0ea5cb;
    font-weight: normal;
    font-style: normal;
}
a:visited{
    color: #0ea5cb;
    font-weight: normal;
    font-style: normal;
}
a:hover {
    color: #1a5c6d;
    font-weight: normal;
    font-style: normal;
}
form{
    padding:35px 30%;
}
img{
    padding: 5%;
}
div{
    position: center;
    text-align: center;
    padding:35px 30%;
}
.test{
    width: 95%;
    height: 400px;
}
